<?xml version="1.0" encoding="UTF-8"?>
<module>
	<permissions>
		<title>Xuất hàng</title>
		<item>
			<param>export/backend/export/view</param>
			<description>Xem</description>
		</item>
		<item>
			<param>export/backend/export/create</param>
			<description>Thêm</description>
		</item>
		<item>
			<param>export/backend/export/update</param>
			<description>Sửa</description>
		</item>
		<item>
			<param>export/backend/export/delete</param>
			<description>Xóa</description>
		</item>
	</permissions>
	<permissions>
	</permissions>
</module>