<?xml version="1.0" encoding="UTF-8"?>
<module>
	<permissions>
		<title>Support - [Nhóm hỗ trợ]</title>
		<item>
			<param>support/backend/catalogue/view</param>
			<description>Xem</description>
		</item>
		<item>
			<param>support/backend/catalogue/create</param>
			<description>Thêm</description>
		</item>
		<item>
			<param>support/backend/catalogue/update</param>
			<description>Sửa</description>
		</item>
		<item>
			<param>support/backend/catalogue/delete</param>
			<description>Xóa</description>
		</item>
	</permissions>
	<permissions>
		<title>Blog - [Chi tiết hỗ trợ]</title>
		<item>
			<param>support/backend/support/view</param>
			<description>Xem</description>
		</item>
		<item>
			<param>support/backend/support/create</param>
			<description>Thêm</description>
		</item>
		<item>
			<param>support/backend/support/update</param>
			<description>Sửa</description>
		</item>
		<item>
			<param>support/backend/support/delete</param>
			<description>Xóa</description>
		</item>
	</permissions>
</module>