<?xml version="1.0" encoding="UTF-8"?>
<module>
	<permissions>
	</permissions>
	<permissions>
		<title>Comment - [Đánh giá]</title>
		<item>
			<param>comment/backend/comment/view</param>
			<description>Xem</description>
		</item>
		<item>
			<param>comment/backend/comment/create</param>
			<description>Thêm</description>
		</item>
		<item>
			<param>comment/backend/comment/update</param>
			<description>Sửa</description>
		</item>
		<item>
			<param>comment/backend/comment/delete</param>
			<description>Xóa</description>
		</item>
	</permissions>
</module>